.container__card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.card__title {
    text-align: center;
    font-size: 3em;

    margin-top: 150px;
    margin-bottom: 128px;
}

.card__subtitle {
    font-size: 3em;
}

.card {
    padding: 15px;

    background: #EF3124;
    border-radius: 8px;

    max-width: 400px;
    margin-bottom: 128px;

    transform: scale(2);
}

.card__logo {
    width: 50px;
}

.card__flex {
    display: flex;
}

.card__number {
    font-weight: 700;
    font-size: 20px;
    color: whitesmoke;

    margin-right: 15px;
    margin-left: 15px;
}

.copy {
    cursor: pointer;
}