@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

:root {
    --color-background: #fff5e5;
    --color-background-howered: #ffe7ad;
    --color-text: #ce5912;
    --color-text-other: #49adf3;
    --color-text-placeholder: rgba(206, 89, 18, 0.6);
    --color-text-howered: #ffd3b5;
    --color-error: #DC143CFF;

    --chatgpt-color: #6c5cf3;
    --chatgpt-background: #e7d9ff;
    --chatgpt-howered: #efe8ff;
}

body {
    color: var(--color-text);
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background: var(--color-background);
}

.container {
    width: 1070px;
    margin: 0 auto;
}

.title {

}

.title__name {
    color: var(--color-text-other);

    text-decoration: none;

    cursor: pointer;
}

.title__name:hover {
    text-decoration: underline;
}

.sub__title {
    font-size: 16px;

    cursor: pointer;

    margin-top: auto;
}

.sub__title:hover {
    text-decoration: underline;
}

.base__input {
    padding-left: 12px;
    padding-top: 8px;
    padding-bottom: 8px;

    font-size: 20px;
    font-weight: 700;

    border-radius: 10px;
    border: 2px solid var(--color-text);

    color: var(--color-text);
}

.base__input:focus {
    outline: 0;
}

.base__input::placeholder {
    color: var(--color-text);
    opacity: 0.75;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}

.anti-disabled {
    background: white;
    user-select: none;
}

.base__button {
    height: 40px;

    border: 2px var(--color-text) solid;
    border-radius: 10px;

    font-size: 20px;
    font-weight: 700;

    color: var(--color-text);

    display: flex;
    align-items: center;
    justify-content: center;

    user-select: none;
    cursor: pointer;

    transition: 0.25s;
}

.base__button:hover {
    color: var(--color-background);
    background: var(--color-text);
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid var(--color-text);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.fw700 {
    font-weight: 700;
}

.fz18 {
    font-size: 18px !important;
}

.fz20 {
    font-size: 20px;
}

.other-color {
    color: var(--color-text-other);
}

.width100 {
    width: 100%;
}

.none {
    display: none;
}

.display-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

.align-items {
    align-items: center;
}

.dev {
    opacity: 0.5;
}

.is_deleted {
    color: gray;

    cursor: default;
}

.is_deleted:hover {
    text-decoration: none;
}