body {
    user-select: none;
}

.solve__container {
    width: 1070px;
}

.solve__current {

}

.solve {
    padding: 15px 35px;
    border: var(--color-text) 2px solid;
    border-radius: 4px;
}

.solve__subtitle {
    margin-bottom: 16px;
}

.solve__char {
    color: var(--color-text-other);
}

.solve__answer__number {
    font-size: 20px;
    font-weight: 700;

    margin-bottom: 16px;
}

.solve__test {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

.solve__test__title {
    font-size: 20px;
    font-weight: 700;
}

.timer {
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    right: 0;
    width: 100px;
}

.answer__item {
    display: flex;
    align-items: center;

    font-size: 20px;
    font-weight: 700;

    margin-bottom: 16px;
}

.answer__item__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.continue {
    margin-left: auto;
}

.solve__error {
    color: var(--color-error);

    font-size: 20px;
    font-weight: 500;

    margin-bottom: 16px;
}

.result {
    text-align: center;
}

.solve__subtitle__last {
    margin-bottom: 0;
}

.not-complete {
    margin-bottom: 16px;
}

.number {

}

.complete__title__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.close {
    font-size: 26px;

    cursor: pointer;
}

.group__text {
    background: white;

    padding: 6px 9px;

    font-size: 22px;
    font-weight: 700;

    border: 2px solid var(--color-text);
    border-radius: 10px;

    min-width: 320px;

    text-align: center;
}

.q_image {
    height: 100px;

    display: block;
    margin-bottom: 16px;

    cursor: zoom-in;
}

.q_image_large {
    height: 400px;

    cursor: zoom-out;
}

.solve__mb {
    margin-top: 200px;
    margin-bottom: 200px;
}
