<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/card.css">
    <title>Intelligentnost Card</title>
</head>
<body>
    <div class="container">
        <h1 class="card__title">
            Пополнить баланс можно, скинув нужную сумму на эту карту:
        </h1>
        <div class="card">
            <img
                    class="card__logo"
                    src="../static/img/alfabank.gif"
                    alt="Логотип карты альфа банка"
            >
            <div class="card__flex">
                <div class="card__number">
                    2200 1529 2038 1392
                </div>
                <div class="copy">
                    <img src="../static/img/copy.png" alt="Скопировать номер карты">
                </div>
            </div>
        </div>
        <h2 class="card__subtitle">
            После оплаты, скиньте чек боту
        </h2>
    </div>
</body>
</html>