<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/card.css">
    <title>Intelligentnost Card</title>
</head>
<body>
    <div class="container container__card">
        <img src="../static/img/tg.png" alt="Наш тг" class="icon tg">
        <img src="../static/img/vk.png" alt="Наш вк" class="icon vk">
        <img src="../static/img/card.jpg" alt="Карта альфабанка оплата" class="card__img">
    </div>
</body>
<script>
    document.getElementById("copy").addEventListener("click", e => {
        const textarea = document.createElement('textarea');
        textarea.value = "2200152920381392";
        document.body.appendChild(textarea);
        textarea.select();
        try {
            document.execCommand('copy');
            console.log('Text copied to clipboard');
        } catch (error) {
            console.error('Error copying text: ', error);
        }
        document.body.removeChild(textarea);
    })
</script>
</html>