<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="yandex-verification" content="fc6b7673d52fd36c" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Fast Test</title>
	<link rel="stylesheet" href="../static/css/main.css">
	<link rel="stylesheet" href="../static/css/index.css">
	<link rel="icon" href="../static/img/logo.png">
</head>
<body>
	<div class="main__container">
		<h1 class="main__title">
			FastTest.ru
		</h1>
		<p class="main__description">
			Удобный сервис по созданию тестов
		</p>
		<a class="main__get_started" href="/p/tests">
			Начать
		</a>
	</div>
</body>
</html>