<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/../static/css/main.css">
    <link rel="stylesheet" href="/../static/css/one_test.css">
    <link rel="stylesheet" href="/../static/css/news.css">
    <link rel="icon" href="/../static/img/logo.png">
    <title>Новости</title>
</head>
<body>
    <embed src="/p/header" width="100%" height="100"/>
    <div class="container">
        <div class="title__container">
            <h1 class="margin__button16">Новости</h1>
        </div>
        <div class="new">
            <h1 class="margin__button8 other-color">Обновление от 06.04.2024</h1>
            <ul>
                <li class="margin__button16">
                    Добавлен новый тип вопроса - "соответствие".
                </li>
                <img src="/../static/img/news/s.PNG" alt="Новый тип соответствия" class="new__image margin__button16">
                <li class="margin__button16">
                    Добавлена кнопка "Скопировать все коды с фамилиями", нажимая на неё, вы теперь можете
                    отправить список кодов доступа своей группе в виде текста.
                </li>
                <img src="/../static/img/news/copy.PNG" alt="Новый тип соответствия" class="new__image">
            </ul>
        </div>
    </div>
</body>
</html>